* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(189, 189, 189);
    color: white;
    font-family: 'Lexend Deca';
}

section {
    display: flex;
    width: 850px;
    height: 1080px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px #222;
    overflow: hidden;
}

.left-section {
    width: 350px;
    justify-self: flex-start;
    background-color: #1b1b1b;
    font-family: 'Lexend Deca';
    box-shadow: 0 0 15px #222;
    overflow: hidden;
}

.left-section .education,
.left-section .contact {
    padding: 20px 30px;
    padding-right: 0;
}

.left-section hr {
    width: 100%;
    margin: 13px 0;
    border-color: yellow;
}


.left-section .education .edu-details,
.left-section .contact .contact-details {
    padding-left: 30px;
    padding-right: 0;
}

.left-section h2,
.right-section h2,
.left-section .education h3 {
    font-weight: 400;
}

.left-section .education .edu-details p {
    padding: 5px 0;
    font-size: 14px;
}

.left-section .education .edu-details p.year {
    padding-top: 0;
}

.left-section .contact .contact-details p {
    font-size: 18px;
}

.left-section .contact .contact-details p a {
    text-decoration: none;
    color: white;
}

.left-section .contact .contact-details p i {
    border: 1px solid yellow;
    font-size: 15px;
    padding: 9px;
    border-radius: 50%;
    margin-bottom: 7px;
}

.left-section .contact .contact-details p i.fa-phone {
    margin-top: 11px;
}

.left-section .contact .contact-details p a::after {
    content: '';
    display: block;
    position: relative;
    top: -12px;
    left: 37px;
    width: 0%;
    border-bottom: 3px solid white;
    border-radius: 200px;
    transition: all 0.5s ease;
}

.left-section .contact .contact-details p a:hover::after {
    width: 50%;
}

.right-section {
    justify-self: flex-end;
    width: 500px;
    color: #1b1b1b;
    overflow: hidden;
}

.right-section .name {
    background-color: yellow;
    padding: 38px;
    color: #222;
    letter-spacing: 2px;
    margin-top: 80px;
    box-shadow: 0 0 10px #222;
}

.right-section #name {
    font-size: 35px;
}

.right-section #name span{
    font-weight: 700;
}

.right-section #eng-stu {
    font-size: 20px;
}

.right-section .about-me,
.right-section .lang-skills,
.right-section .soft-skills {
    padding: 20px 45px;
    padding-right: 30px;
}

.right-section hr {
    width: 100%;
    margin: 13px 0;
    border-color: #1b1b1b;
    border-radius: 10px;
}

.right-section .about-me h2 {
    margin-top: 20px;
}

.right-section .about-me p {
    letter-spacing: 1px;
}

.skills {
    width: 350px;
    padding: 0 10px;
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 0;
}

.skill-bar {
    height: 12px;
    border: 2px solid #303030;
    border-radius: 5px;
    text-align: right;
    font-size: 18px;
}

.skill-bar::before {
    content: '';
    display: block;
    position: relative;
    top: -1px;
    left: -1px;
    height: 14px;
    border-radius: 5px;
    background-color: #1b1b1b;
}

.skill-bar.html::before {width: 90%;}

.skill-bar.css::before {width: 82%;}

.skill-bar.js::before {width: 68%;}

.skill-bar.aps::before {width: 75%;}

.skill-bar.aill::before {width: 55%;}

.skill-bar.excel::before {width: 69%;}
